style.css


body {
 background-color: aqua;

   
}


header{
  height: 45px;;
  font-family:sans-serif;
  background-color: rgb(237, 243, 222);
  border-style: dotted;
  border-style: groove;
  border-radius: 300;
  
  
  text-align:center;
   font:oblique;
  font-style: italic;
  padding-bottom: 30px;
  
}
img { height: 30px;;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form
{
  background-image: url("https://miro.medium.com/max/1400/1*lFC_U5j_Y8IXF4Ga87KNVg.png" );
  
  background-repeat: no-repeat;
  background-size: 600px 600px;
  border-radius: 30px;
  border-color: chartreuse;
  display: block;
  background-color: rgb(198, 235, 157);
  border-style: groove;

  padding-top: 20px;
  padding-bottom: 500px;
  visibility:visible;
  
}

input {
  list-style-type:decimal-leading-zero;
  
  background-color: rgb(237, 243, 222);
  border-style: none;
  border-color: None;
  
  border-radius: 30px;
  width: 150px;
  height: 20px;
  padding: 5px;
  font-size: 25px;
}

label
{
  
  font-size: 200%;
}


